.container {
    background-color: aqua;
    color:black; 
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;

}

.container p {
    font-size: 30px;
    color:blue;
    background-color:chocolate;
}

